header {
	padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.container {
	padding: 2em 0;
}

.container,
nav {
	width: 80%;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
}

span {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	margin-left: 1em;
	text-align: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 45px;
	height: auto;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav li {
	margin: 0 1em;
}

nav a {
	font-size: 1em;
	color: #777;
	text-decoration: none;
}

/* .active {
	text-decoration: underline;
	color: #4d98fd;
} */
